
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  63.3% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



        

@keyframes wobble1 {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform:  rotate3d(0, 125deg, 1, -5deg);
    transform:  rotate3d(0, 125deg, 1, -5deg);
  }

  30% {
    -webkit-transform:  rotate3d(0, 15deg, 1, 3deg);
    transform:  rotate3d(0, 115deg, 1, 3deg);
  }

  45% {
    -webkit-transform:  rotate3d(0, 10deg, 1, -3deg);
    transform:  rotate3d(0, 110deg, 1, -3deg);
  }

  60% {
    -webkit-transform:  rotate3d(0, 5deg, 1, 2deg);
    transform:  rotate3d(0, 50deg, 1, 2deg);
  }

  75% {
    -webkit-transform:  rotate3d(0, 0, 1, -1deg);
    transform:  rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes gl {
from { 
  -webkit-transform: none;
    transform: none;
}
25% { transform: rotateY(20deg); }



55% { transform: rotateY(-20deg); }

 

to {  -webkit-transform: none;
    transform: none;}}


.wobble1 {
  -webkit-animation-name: wobble1;
  animation-name: wobble;
}


.A1, .B1 {cursor:pointer; perspective: 500px;-webkit-perspective: 500px; perspective-origin: 50% 50%; -webkit-perspective-origin: 50% 50%;}
.A1:hover {
  -webkit-animation-name: gl;
  animation-name: gl;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;


}




 .blockAB {-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
    display: inline-block;
}

.blockA, .blockB {float:left; border-radius:3px;}

/*.blockA:hover, .blockB:hover { background:rgba(208, 231, 195, 0.19);}*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;

}



