
.box {
			top:0;
		/*	margin-left:-100px;*/
		}
		
		@-webkit-keyframes movingbox{
			from{left:50%;-webkit-transform: rotate(0deg); opacity:0}
			to{left:0;-webkit-transform: rotate(360deg); opacity:1}
		}

/*#index .box1, #index .box2, #index .box3, #index .box4 { opacity:0;}	*/

#index .box1 {
   -webkit-animation:slideInRight 1s forwards;
   -moz-animation:slideInRight 1s forwards;
     -o-animation:slideInRight 1s forwards;
        animation:slideInRight 1s forwards;

   -webkit-animation-delay: 1.1s;
   -moz-animation-delay: 1.1s;
   -o-animation-delay: 1.1s;
   animation-delay: 1.1s; }

#index .box2 {

-webkit-animation:flipInXX 1s forwards;
-moz-animation:flipInXX 1s forwards;
  -o-animation:flipInXX 1s forwards;
     animation:flipInXX 1s forwards;

   -webkit-animation-delay: 1s;
   -moz-animation-delay: 1s;
   -o-animation-delay: 1s;
   animation-delay: 1s; }

#index .box3 {
    -webkit-animation:fadeInN 1s forwards;
    -moz-animation:fadeInN 1s forwards;
      -o-animation:fadeInN 1s forwards;
         animation:fadeInN 1s forwards;

   -webkit-animation-delay: 1.3s;
   -moz-animation-delay: 1.3s;
   -o-animation-delay: 1.3s;
   animation-delay: 1.3s; }

#index .box4 {
   -webkit-animation:expandUp 1s forwards;
   -moz-animation:expandUp 1s forwards;
     -o-animation:expandUp 1s forwards;
        animation:expandUp 1s forwards;

   -webkit-animation-delay: 1.4s;
   -moz-animation-delay: 1.4s;
   -o-animation-delay: 1.4s;
   animation-delay: 1.4s; }

#index .box5 {
   -webkit-animation:bigEntrance 1.3s forwards;
   -moz-animation:bigEntrance 1.3s forwards;
     -o-animation:bigEntrance 1.3s forwards;
        animation:bigEntrance 1.3s forwards;

   -webkit-animation-delay: 1.5s;
   -moz-animation-delay: 1.5s;
   -o-animation-delay: 1.5s;
   animation-delay: 1.5s; }

#index .box6 {
   -webkit-animation:expandUp 1s forwards;
   -moz-animation:expandUp 1s forwards;
     -o-animation:expandUp 1s forwards;
        animation:expandUp 1s forwards;

   -webkit-animation-delay: 1.6s;
   -moz-animation-delay: 1.6s;
   -o-animation-delay: 1.6s;
   animation-delay: 1.6s; }






@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
       animation-name: fadeIn;
}





@-webkit-keyframes flipInXX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateX(150px);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translateX(30%);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translateX(30%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  95% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  
to {
     -webkit-transform: translate(0, 0);
             transform: translate(0, 0);
         opacity: 1;

  }
}

@-moz-keyframes flipInXX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
         transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
         transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
         transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
         transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  95% {
    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
         transform: perspective(400px);
  }
  
to {
     -moz-transform: translate(0, 0);
          transform: translate(0, 0);
         opacity: 1;

  }
}

@-o-keyframes flipInXX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
       animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
       animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  95% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  
to {
     -o-transform: translate(0, 0);
        transform: translate(0, 0);
         opacity: 1;

  }
}

@keyframes flipInXX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
         transform: perspective(400px) rotate3d(1, 0, 0, 90deg); 
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
      -o-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
         transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
      -o-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
         transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
         transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  95% {
    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
         transform: perspective(400px);
  }
  
to {
     -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
          -o-transform: translate(0, 0);
             transform: translate(0, 0);
         opacity: 1;

  }
}





/**
* SlideInRight Keyframes Animation
*/
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
}

@-moz-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    opacity:1;
  }
}

@-o-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
    opacity:1;
  }
}



@-moz-keyframes slideInLeft {
  0% {
    -moz-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
         transform: none;
opacity:1;
  }
}


@-o-keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: none;
    -o-transform: none;
       transform: none;
opacity:1;
  }
}


@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
       -moz-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
      -o-transform: none;
         transform: none;
opacity:1;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity:0;
  }
  100% {
    -webkit-transform: none;
    transform: none;
opacity:1;
  }
}


/* .mainblock { padding-left:7%; padding-right:7%}
 */
/*.mainblock img:nth-child(2) { margin-left:35px}

.mainblock img:last-child {
    margin-left: 28px;
    margin-top: -9px;
}
*/

/* Hover section */




.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
/*  -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;*/
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
       transition-duration: 0.15s;
}


.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {

  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2); 
   -ms-transform: scale(1.2); 
    -o-transform: scale(1.2); 
       transform: scale(1.2); 

/*transform-origin: 50 50%;
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);

 */
 image-rendering: optimizeSpeed;             /*                     */
 image-rendering: -moz-crisp-edges;          /* Firefox             */
 image-rendering: -o-crisp-edges;            /* Opera               */
 image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
 image-rendering: optimize-contrast;         /* CSS3 Proposed       */
 -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
 


@-webkit-keyframes rotatey2 {
0% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
25% {transform:rotate(1deg); -ms-transform:rotate(1deg); -moz-transform:rotate(1deg); -webkit-transform:rotate(1deg); -o-transform:rotate(1deg);}
50% {transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);}
100% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
}
@-moz-keyframes rotatey2 {
0% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
25% {transform:rotate(1deg); -ms-transform:rotate(1deg); -moz-transform:rotate(1deg); -webkit-transform:rotate(1deg); -o-transform:rotate(1deg);}
50% {transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);}
100% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
}
@-o-keyframes rotatey2 {
0% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
25% {transform:rotate(1deg); -ms-transform:rotate(1deg); -moz-transform:rotate(1deg); -webkit-transform:rotate(1deg); -o-transform:rotate(1deg);}
50% {transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);}
100% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
}
@keyframes rotatey2 {
0% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
25% {transform:rotate(1deg); -ms-transform:rotate(1deg); -moz-transform:rotate(1deg); -webkit-transform:rotate(1deg); -o-transform:rotate(1deg);}
50% {transform:rotate(-1deg); -ms-transform:rotate(-1deg); -moz-transform:rotate(-1deg); -webkit-transform:rotate(-1deg); -o-transform:rotate(-1deg);}
100% {transform:rotate(0deg); -ms-transform:rotate(0deg); -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);}
}




/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    -moz-transform: translate(8px, -8px);
         transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    -moz-transform: translate(-6px, 6px);
         transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
         transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    -moz-transform: translate(-2px, 2px);
         transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    -moz-transform: translate(1px, -1px);
         transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
         transform: translate(0, 0);
  }
}
@-o-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    -o-transform: translate(8px, -8px);
       transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    -o-transform: translate(-6px, 6px);
       transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    -o-transform: translate(4px, -4px);
       transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    -o-transform: translate(-2px, 2px);
       transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    -o-transform: translate(1px, -1px);
       transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
       transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    -moz-transform: translate(8px, -8px);
      -o-transform: translate(8px, -8px);
         transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    -moz-transform: translate(-6px, 6px);
      -o-transform: translate(-6px, 6px);
         transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
      -o-transform: translate(4px, -4px);
         transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    -moz-transform: translate(-2px, 2px);
      -o-transform: translate(-2px, 2px);
         transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    -moz-transform: translate(1px, -1px);
      -o-transform: translate(1px, -1px);
         transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
         transform: translate(0, 0);
  }
}
/*.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {*/










/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@-moz-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
         transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
         transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    -moz-transform: skew(-6deg);
         transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    -moz-transform: skew(4deg);
         transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    -moz-transform: skew(-2deg);
         transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
         transform: skew(0);

  }
}
@-o-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    -o-transform: skew(-12deg);
       transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    -o-transform: skew(10deg);
       transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    -o-transform: skew(-6deg);
       transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    -o-transform: skew(4deg);
       transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    -o-transform: skew(-2deg);
       transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    -o-transform: skew(0);
       transform: skew(0);

  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
      -o-transform: skew(-12deg);
         transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
      -o-transform: skew(10deg);
         transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    -moz-transform: skew(-6deg);
      -o-transform: skew(-6deg);
         transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    -moz-transform: skew(4deg);
      -o-transform: skew(4deg);
         transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    -moz-transform: skew(-2deg);
      -o-transform: skew(-2deg);
         transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    -moz-transform: skew(0);
      -o-transform: skew(0);
         transform: skew(0);

  }
}

.blocktitle {
    font-family: 'Myriadsetpro', sans-serif;
    white-space: nowrap;
    font-size:-webkit-calc(10.5px - -0.5vw);
    font-size:-moz-calc(10.5px - -0.5vw);
    font-size:calc(10.5px - -0.5vw);
    font-weight:900;
    text-transform: uppercase;
    opacity:0;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    text-shadow: 1px 0px 2px #e3e2e2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    bottom:-10px;
}









@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
         transform: none;
  }
}

@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -o-transform: none;
       transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
      -o-transform: none;
         transform: none;
  }
}







@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-moz-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
         animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0);
         transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
         transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
         transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    -moz-transform: none;
         transform: none;
    opacity: 1;
  }
}

@-o-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
       animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    -o-transform: none;
       transform: none;
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -o-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
         animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0);
         transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
         transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0);
         transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    -moz-transform: none;
      -o-transform: none;
         transform: none;
    opacity: 1;
  }
}




/*.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
animation-fill-mode:forwards;
   animation:bounceInLeft;
 -webkit-animation:bounceInLeft;
} */




.box2 p::before ,.box2 p::after { left: 56% !important; }

/*.cl-effect-12 p {
	border-bottom: 2px solid #000;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}*/
@-webkit-keyframes cleffect {
  to {
  -webkit-transform: none;
  -moz-transform: noen;
  transform: none;
  }}
@-moz-keyframes cleffect {
  to {
  -webkit-transform: none;
  -moz-transform: noen;
  transform: none;
  }}
@-o-keyframes cleffect {
  to {
  -webkit-transform: none;
  -moz-transform: noen;
  -o-transform: none;
     transform: none;
  }}
@keyframes cleffect {
  to {
  -webkit-transform: none;
  -moz-transform: noen;
  -o-transform: none;
     transform: none;
  }}

@-webkit-keyframes cleffect-st {
  to {
   opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);

  max-width: 100%;
  }}

@-moz-keyframes cleffect-st {
  to {
   opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);

  max-width: 100%;
  }}

@-o-keyframes cleffect-st {
  to {
   opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -o-transform: translateX(-50%) translateY(-50%) scale(1);
     transform: translateX(-50%) translateY(-50%) scale(1);

  max-width: 100%;
  }}

@keyframes cleffect-st {
  to {
   opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -o-transform: translateX(-50%) translateY(-50%) scale(1);
     transform: translateX(-50%) translateY(-50%) scale(1);

  max-width: 100%;
  }}


  @-webkit-keyframes smooth {
    0% { opacity: 1;}
    100% { opacity: 0; }
}


  @-moz-keyframes smooth {
    0% { opacity: 1;}
    100% { opacity: 0; }
}


  @-o-keyframes smooth {
    0% { opacity: 1;}
    100% { opacity: 0; }
}


  @keyframes smooth {
    0% { opacity: 1;}
    100% { opacity: 0; }
}

.anim_two::before, .anim_two::after { 

left: 56% !important;

}


/* 

.cl-effect-12:hover  p:before,
.cl-effect-12:hover  p:after,
.cl-effect-12:focus  p:after,
.cl-effect-12:focus  p:after
{    
   opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  max-width: 100%;

    -webkit-animation: smooth .5s ease-out;
    -moz-animation: smooth .5s ease-out;
    -o-animation: smooth .5s ease-out;
    -ms-animation: smooth .5s ease-out;
    animation: smooth .5s ease-out; 

    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
    animation-delay:3s;
    -webkit-animation-delay:3s;
    }
 */






/* 9 blocks */


.mainContent {
  -webkit-perspective: 80em;
     -moz-perspective: 80em;
          perspective: 80em;

  margin: 0 auto;
}
.box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 50px rgba(122, 227, 126, 0.35);
     -moz-box-shadow: 0px 0px 50px rgba(122, 227, 126, 0.35);
          box-shadow: 0px 0px 50px rgba(122, 227, 126, 0.35);
  opacity: 0;
}
.bx1 {
  -webkit-animation-delay: 0s !important;
     -moz-animation-delay: 0s !important;
       -o-animation-delay: 0s !important;
          animation-delay: 0s !important;
  z-index: 9;
}
.box:nth-child(1) .box-banner {

}
.bx2 {
  -webkit-animation-delay: 0.10666667s !important;
     -moz-animation-delay: 0.10666667s !important;
       -o-animation-delay: 0.10666667s !important;
          animation-delay: 0.10666667s !important;
  z-index: 8;
}
.box:nth-child(2) .box-banner {

}
.bx3 {
  -webkit-animation-delay: 0.21333333s !important;
     -moz-animation-delay: 0.21333333s !important;
       -o-animation-delay: 0.21333333s !important;
          animation-delay: 0.21333333s !important;
  z-index: 7;
}
.box:nth-child(3) .box-banner {

}
.bx4 {
  -webkit-animation-delay: 0.32s !important;
     -moz-animation-delay: 0.32s !important;
       -o-animation-delay: 0.32s !important;
          animation-delay: 0.32s !important;
  z-index: 6;
}
.box:nth-child(4) .box-banner {

}
.bx5 {
  -webkit-animation-delay: 0.42666667s !important;
     -moz-animation-delay: 0.42666667s !important;
       -o-animation-delay: 0.42666667s !important;
          animation-delay: 0.42666667s !important;
  z-index: 5;
}
.box:nth-child(5) .box-banner {

}
.bx6 {
  -webkit-animation-delay: 0.53333333s !important;
     -moz-animation-delay: 0.53333333s !important;
       -o-animation-delay: 0.53333333s !important;
          animation-delay: 0.53333333s !important;
  z-index: 4;
}
.box:nth-child(6) .box-banner {

}
.bx7 {
  -webkit-animation-delay: 0.64s !important;
     -moz-animation-delay: 0.64s !important;
       -o-animation-delay: 0.64s !important;
          animation-delay: 0.64s !important;
  z-index: 3;
}
.box:nth-child(7) .box-banner {

}
.bx8 {
  -webkit-animation-delay: 0.74666667s !important;
     -moz-animation-delay: 0.74666667s !important;
       -o-animation-delay: 0.74666667s !important;
          animation-delay: 0.74666667s !important;
  z-index: 2;
}
.box:nth-child(8) .box-banner {

}
.bx9 {
  -webkit-animation-delay: 0.85333333s !important;
     -moz-animation-delay: 0.85333333s !important;
       -o-animation-delay: 0.85333333s !important;
          animation-delay: 0.85333333s !important;
  z-index: 1;
}
.box:nth-child(9) .box-banner {

}
.box h2 {
  margin: 0;
  margin-bottom: 10px;
}
.box p {
  margin: 0;
}
.box .box-banner {
  background: #CCCCCC;
  height: 80px;
  margin: 0px -15px;
  margin-bottom: 6px;
  background-position: center center;
}
.box.no-text .box-banner {
  height: 129px;
}
.begin .box {
  opacity: 1;
  -webkit-animation: animateBoxesFromTopToBottom 1.2s backwards;
     -moz-animation: animateBoxesFromTopToBottom 1.2s backwards;
       -o-animation: animateBoxesFromTopToBottom 1.2s backwards;
          animation: animateBoxesFromTopToBottom 1.2s backwards;
}
@-webkit-keyframes animateBoxesFromTopToBottom {
  0% {
    -webkit-transform: rotateX(90deg) translateY(-150%);
            transform: rotateX(90deg) translateY(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0%);
            transform: rotateX(0deg) translateY(0%);
    opacity: 1;
  }
}
@-moz-keyframes animateBoxesFromTopToBottom {
  0% {
    -moz-transform: rotateX(90deg) translateY(-150%);
         transform: rotateX(90deg) translateY(-150%);
    opacity: 0;
  }
  100% {
    -moz-transform: rotateX(0deg) translateY(0%);
         transform: rotateX(0deg) translateY(0%);
    opacity: 1;
  }
}
@-o-keyframes animateBoxesFromTopToBottom {
  0% {
    transform: rotateX(90deg) translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateY(0%);
    opacity: 1;
  }
}
@keyframes animateBoxesFromTopToBottom {
  0% {
    -webkit-transform: rotateX(90deg) translateY(-150%);
       -moz-transform: rotateX(90deg) translateY(-150%);
            transform: rotateX(90deg) translateY(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0%);
       -moz-transform: rotateX(0deg) translateY(0%);
            transform: rotateX(0deg) translateY(0%);
    opacity: 1;
  }
}




@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
         transform: none;
  }
}

@-o-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -o-transform: none;
       transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
      -o-transform: none;
         transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
       animation-name: fadeInLeft;
}


.revealOnScroll { opacity: 0; }






/* super-button */

.wrapperb {
  height: 100%;
display:inline-block;
/*  background: rgba(0, 0, 0, 0.1);*/
}
/*
.wrapperb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
.innerb {
  position: absolute;

} */

.buttonn:hover {    background: rgba(158, 255, 171, 0.1);}
.buttonn {

  position: relative;
  display: block;
  width: 190px;
  height: 30px;
  color: green;
  font-size: 16px;
  line-height: 200%;
  text-decoration: none;
  text-align: center;
  z-index: 1;

}
.buttonn span {
  position: absolute;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1;
}
.buttonn .borderr {
  border: 1px solid green;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/*  background-color: rgba(0, 0, 0, 0.1);*/
}
.buttonn .topp, .buttonn .bottomm, .buttonn .leftt, .buttonn .rightt {
  background-color: green;
  height: 1px;
  width: 0;
}
.buttonn .leftt, .buttonn .rightt {
  height: 0;
  width: 1px;
}
.buttonn .topp {
  top: -5px;
  left: -15px;
}
.buttonn .bottomm {
  bottom: -5px;
  right: -15px;
}
.buttonn .leftt {
  top: -15px;
  right: -5px;
}
.buttonn .rightt {
  bottom: -15px;
  left: -5px;
}
.buttonn:hover {
  color: green;
/*    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #36623e;*/
}

.textt {display:inline-block;     line-height:1.1em; }
.buttonn:hover .textt { border-bottom: 1px darkgreen dashed; }
.buttonn:hover .borderr {
  cursor:pointer;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}
.buttonn:hover .topp, .buttonn:hover .bottomm {
  width: 190px;
}
.buttonn:hover .leftt, .buttonn:hover .rightt {
  height: 30px;
}
.buttonn:hover .topp {
  left: -5px;
}
.buttonn:hover .bottomm {
  right: -5px;
}
.buttonn:hover .leftt {
  top: -5px;
}
.buttonn:hover .rightt {
  bottom: -5px;
}
.buttonn .textt {
  position: relative;
  letter-spacing: .03em;
}


@media (max-width:992px) {
.buttonn {
  width: 154px;
  height: 25px;
  line-height: 170%;
  font-size: 15px;
}
.buttonn:hover .topp, .buttonn:hover .bottomm {
  width: 154px;
}
.buttonn:hover .leftt, .buttonn:hover .rightt {
  height: 25px;
}

.buttonn .textt {
  position: relative;
  letter-spacing: .03em;
}

}


/* block.css */
.B1 {    display: inline-block; }


/* A */
    .p-item-title {
	    margin-top: 5px;
	    font-family: "Myriad Pro Semibold", sans-serif;
	    font-size: 18px;
    }

/*.mt5 { margin-top: 5px;}*/

.call-back {
	cursor:pointer;
	display: inline-block;
	*display: inline;
	width:128px;
	padding: 7px 25px 7px 18px;
	font-size:17px;
	line-height: 25px;
	font-weight: normal;
	text-align: center;
	text-shadow: 0 1px 1px #0C077B;
	color: #fff;
	background-color: #68b075;
       background-image: -webkit-linear-gradient(to bottom, #57a669 40%, #82bd88 64%, #a8d2a5 96%);
       background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #57a669), color-stop(64%, #82bd88), color-stop(96%, #a8d2a5));
       background-image: -webkit-linear-gradient(top, #57a669 40%, #82bd88 64%, #a8d2a5 96%);
       background-image: -moz-linear-gradient(top, #57a669 40%, #82bd88 64%, #a8d2a5 96%);
       background-image: -o-linear-gradient(top, #57a669 40%, #82bd88 64%, #a8d2a5 96%);
       background-image: linear-gradient(to bottom, #57a669 40%, #82bd88 64%, #a8d2a5 96%);
	background-repeat: repeat-x;
	border:none;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px  rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0 1px 2px  rgba(0, 0, 0, 0.85);
	box-shadow: 0 1px 2px  rgba(0, 0, 0, 0.85);
}
.call-back:hover {
	background-position: 0 15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	color: #fff;
	text-decoration: none;
}
.call-back:active {
	outline: 0;
	position: relative;
	top:1px;
}

@media (min-width:768px) {

.span3 {float:left; }
 }

@media (max-width:767px) {
.span3{    margin: 0 auto !important;
margin-bottom:40px !important;
 }}




.span3 {
  width: 214px !important;
/*  height: 379px;*/
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
 /*  height:310px;   width: 230px;*/
  border:2px solid green;
  background: #f2fdec;



		margin-top: 30px;
		text-align: center;

}


.col-centered{
    float: none;
    margin: 0 auto;
}


.span3 a:focus {
    color: #fff; }

/* new */


.span3{
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
transition-duration: 0.5s; /*Opera duration version*/
opacity: 0; /*initial opacity of images*/

margin: 0 0 5px 0; /*margin between images*/
}


@media (min-width:768px) {
 .span3[data-nohover="0"]:hover{
-webkit-transform:scale(1.2); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.2); /*Mozilla scale version*/
-o-transform:scale(1.2); /*Opera scale version*/
-ms-transform:scale(1.2);
    transform:scale(1.2); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
opacity: 1;
}
}



@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }}


.pull-center-md {
    float: none;
    margin: 0 auto !important;
}


@media (max-width: 991px) {
    .pull-right-md, .pull-left-md {
    float: none;
    margin: 0 auto !important;
    }
}

#idmodal h3, #idmodal h3 {
    margin: 8px 0 0;
    text-align: center;
    color: #488e57;
    font-size: -webkit-calc(13px - -0.5vw);
    font-size: -moz-calc(13px - -0.5vw);
    font-size: calc(13px - -0.5vw);
}


#idmodal .modal-header {
    padding: 5px 12px;
    border-bottom: 1px solid #829a87;
}
.sel p {font-weight:700; display:inline;}

form sup { color:red }


@media (min-width: 768px)            {
.modal-sm { width:350px !important }} 

@media (max-width: 768px)            {
.modal-sm { width:70% !important }} 



.modal-footer {
    font-size: 11px !important; }



.modal-footer {
    padding-right: 5px;
    padding-left: 5px;
    text-align:center;

}

.blockBB {    
  border: 4px solid #427e50;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  transition: all .15s ease-out;
  -webkit-transform:scale(0.95);
     -moz-transform:scale(0.95);
      -ms-transform:scale(0.95);
       -o-transform:scale(0.95);
          transform:scale(0.95);
  width:auto;
  height: auto;
  display: inline-block;
/*	display:contents;  */  
}


.blockBB:hover  { -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1); border: 4px solid #ffc107;
/* #5ba96d;
orange #ffc107;*/

-webkit-box-shadow: 4px 5px 15px rgba(0,0,0,0.7);

   -moz-box-shadow: 4px 5px 15px rgba(0,0,0,0.7);

        box-shadow: 4px 5px 15px rgba(0,0,0,0.7);
}

/* gallery */
.gallery-index {
    text-align: center;
}
.butt a {margin-bottom:20px; margin-top:8px}
