/*@import url('https://fonts.googleapis.com/css?family=Arsenal:700|Cormorant+SC:700|Cuprum:700|Dosis|El+Messiri|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed:500|Jura:600|Kurale|Marmelad|Open+Sans+Condensed:700|PT+Sans+Narrow:700|Philosopher:700|Play:700|Roboto+Condensed|Titillium+Web|Ubuntu+Condensed');
  */

/*100% here*/

@import url('https://fonts.googleapis.com/css?family=Oswald:400|Exo+2:300,700,600i&subset=cyrillic');

/*
Arsenal:400,700| Roboto:300,400,700|
@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri/Calibri.eot?#iefix') format('embedded-opentype'),  url('../fonts/calibri/Calibri.woff') format('woff'), url('../fonts/calibri/Calibri.ttf')  format('truetype'), url('../fonts/calibri/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}
  


@font-face {
  font-family: 'Korina';
  src: url('../fonts/korin/korin.eot?#iefix') format('embedded-opentype'),  url('../fonts/korin/korin.woff') format('woff'), url('../fonts/korin/korin.ttf')  format('truetype'), url('../fonts/calibri/Calibri.svg#Korina') format('svg');
  font-weight: normal;
  font-style: normal;
}
  */



/*@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700|Cormorant+SC:600|Cuprum:700|Dosis:700|El+Messiri:700|Fira+Sans+Condensed:500|Fira+Sans+Extra+Condensed:500|Jura:600|Kurale|Marmelad|Open+Sans+Condensed:700|PT+Sans+Narrow:700|Philosopher:700|Play:700|Titillium+Web:600|Ubuntu+Condensed&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Exo+2:300&subset=cyrillic');
@font-face {
  font-family: 'Franklin';
  src: local('Franklin'), url('../fonts/FranklinGothicDemiCondRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fluentsitka';
  src: url('../fonts/fluentsitka/Fluent_SitkaSmall.eot');
  src: local('Fluentsitka'), url('../fonts/fluentsitka/Fluent_SitkaSmall.ttf') format('truetype'), url('../fonts/fluentsitka/Fluent_SitkaSmall.otf') format('opentype'),url('../fonts/fluentsitka/Fluent_SitkaSmall.svg') format('svg'); 

}


*/
@font-face {
  font-family: 'Myriadprocond';
  src: url('../fonts/myriadpro1/MYRIADPRO-COND.eot');
  src: local('Myriadprocond'), url('../fonts/myriadpro1/MYRIADPRO-COND.woff') format('woff'), url('../fonts/myriadpro1/MYRIADPRO-COND.ttf') format('truetype');

}


/*
@font-face {
  font-family: 'Myriadsetpro';
  src: url('../fonts/myriadsetpro/myriad-set-pro_text.eot?#iefix') format('embedded-opentype');
  src: local('Myriadsetpro'), url('../fonts/myriadsetpro/myriad-set-pro_text.woff') format('woff'),url('../fonts/myriadsetpro/myriad-set-pro_text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriadsetpro';
  src: url('../fonts/myriadsetpro/myriad-set-pro_bold.eot?#iefix') format('embedded-opentype');
  src: local('Myriadsetpro Bold'),local('MyriadsetproBold'), url('../fonts/myriadsetpro/myriad-set-pro_bold.woff') format('woff'),url('../fonts/myriadsetpro/myriad-set-pro_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */
@font-face {
  font-family: 'Myriadsetprothin';
  src: local('Myriadsetprothin'), url('../fonts/myriadsetpro/myriad-set-pro_extrathin.woff') format('woff');
}




@font-face {
    font-family: "Myriadsetpro";
    src: url("../fonts/myriadpro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/myriadpro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/myriadpro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/myriadpro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; 
@font-face {
    font-family: "Myriadsetpro";
    src: url("../fonts/myriadpro/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/myriadpro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/myriadpro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/myriadpro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}*/


@font-face {
    font-family: "Myriadsetpro";
    src: url("../fonts/myriadpro/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/myriadpro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/myriadpro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/myriadpro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: 'Rex';
    src: local('Rex Light'), local('RexLight'), url('../fonts/rex/300.woff2') format('woff2'), url('../fonts/rex/300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rex';
    src: local('Rex Bold'), local('RexBold'), url('../fonts/rex/700.woff2') format('woff2'), url('../fonts/rex/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/*scrollbar*/
::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 13px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #70b654;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #62b643;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    width: 10px;
    height: 0px
}

::-webkit-scrollbar {
    width: 12px;
}


/*buble*/


/*.hvr-bubble-float-bottom2:hover, .hvr-bubble-float-bottom2:focus, .hvr-bubble-float-bottom2:active  .hvr-grow {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */


@-webkit-keyframes logos {
  50% {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);

  }
  100% {
  -webkit-transform: scale(1.1) translateY(-10px);
  transform: scale(1.1) translateY(-10px);

  }        }


@-moz-keyframes logos {
  50% {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
       transform: translateY(-5px);

  }
  100% {
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
       transform: scale(1.1) translateY(-10px);

  }        }


@-o-keyframes logos {
  50% {
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
     transform: translateY(-5px);

  }
  100% {
  -webkit-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
     transform: scale(1.1) translateY(-10px);

  }        }


@keyframes logos {
  50% {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
       transform: translateY(-5px);

  }
  100% {
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
    -o-transform: scale(1.1) translateY(-10px);
       transform: scale(1.1) translateY(-10px);

  }        }


/*logos2 */


/*.hvr-bubble-float-bottom2:hover, .hvr-bubble-float-bottom2:focus, .hvr-bubble-float-bottom2:active  .hvr-grow {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */


@-webkit-keyframes logos2 {
  50% {
-webkit-transform: rotateY(-1deg);
transform: rotateY(-1deg);

  }
  100% {
-webkit-transform: rotateY(5deg);
transform: rotateY(5deg);

  }        }


@-moz-keyframes logos2 {
  50% {
-webkit-transform: rotateY(-1deg);
-moz-transform: rotateY(-1deg);
     transform: rotateY(-1deg);

  }
  100% {
-webkit-transform: rotateY(5deg);
-moz-transform: rotateY(5deg);
     transform: rotateY(5deg);

  }        }


@-o-keyframes logos2 {
  50% {
-webkit-transform: rotateY(-1deg);
transform: rotateY(-1deg);

  }
  100% {
-webkit-transform: rotateY(5deg);
transform: rotateY(5deg);

  }        }


@keyframes logos2 {
  50% {
-webkit-transform: rotateY(-1deg);
-moz-transform: rotateY(-1deg);
     transform: rotateY(-1deg);

  }
  100% {
-webkit-transform: rotateY(5deg);
-moz-transform: rotateY(5deg);
     transform: rotateY(5deg);

  }        }

/*end logos2 */

.hvr-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
       transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
     -moz-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
       transition-duration: 0.2s;

/*  transition          : all 3.2s ease-in-out; 
  -o-transition       : all 3.2s ease-in-out;
  -moz-transition     : all 3.3s ease-in-out;
  -webkit-transition  : all 3.3s ease-in-out; */

  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  -moz-transition-property: transform, -moz-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
}

.hvr-up:hover, .hvr-up:focus, .hvr-up:active {
/*  -webkit-transform: scale(1.1) translateY(-1px);
  transform: scale(1.1) translateY(-1px);*/


  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
   -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
       transform: translateY(-3px);
}




/*hi icon second variant (udalit 1 after) */




/* Effect 8 */




@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    -moz-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
         box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -moz-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
         box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    -o-transform: scale(1.5);
       transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
       -moz-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
       -moz-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
            box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

/* END icon hi second var (udalit 1iy)*/


/*icon vk*/







/*end icon vk*/

/* custom code */
.affix {
      top: 0;
      width: 100%;
      opacity:0.9 !important;
      z-index:555;
      left: 0;
  }

/*   .affix + .container-fluid {
      padding-top: 70px;
  } */

/*
.navbar-default .navbar-nav > li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top:0;
    right: 0px;
    height: 24px;
    width: 1px;
    background: #ded5d5;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
  */






/* .phone {  
      font-family: 'Cleanvertising';

     font-weight: 700;
    font-size: 21px;
    letter-spacing: 1px;
    color:#484848;
    padding-top: 20px;

}
 */







/* .take a:hover {
    text-decoration:none;

         color:green;
         text-shadow:none;
}
 */














.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
/*    background-color: #efefef !important; */
  background-color:transparent !important;
}

/* fade in up */

@-webkit-keyframes fadeInUp1 {
  from {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
         transform: none;
  }
}

@-o-keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -o-transform: none;
       transform: none;
  }
}

@keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
      -o-transform: none;
         transform: none;
  }
}

.fadeInUp1 {
  -webkit-animation-name: fadeInUp1;
  -moz-animation-name: fadeInUp1;
    -o-animation-name: fadeInUp1;
       animation-name: fadeInUp1;
}

/*end fade in up */

/* Light |Speed In 
@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/*End light speed in*/


body {color:#333 !important;    overflow-x: hidden; -webkit-font-smoothing: antialiased;   text-rendering: optimizeLegibility; }

.navbar-default {
/*     background-color: #F5F5F5 !important; */

/* background: linear-gradient(to bottom, rgba(63, 95, 29, 0.2) 0%,rgba(51, 147, 76,0.9) 100%); */
background: -webkit-gradient(linear, left top, left bottom, from(rgb(223, 239, 206)),to(rgba(51, 147, 76,0.9)));
background: -webkit-linear-gradient(top, rgb(223, 239, 206) 0%,rgba(51, 147, 76,0.9) 100%);
background: -moz-linear-gradient(top, rgb(223, 239, 206) 0%,rgba(51, 147, 76,0.9) 100%);
background: -o-linear-gradient(top, rgb(223, 239, 206) 0%,rgba(51, 147, 76,0.9) 100%);
background: linear-gradient(to bottom, rgb(223, 239, 206) 0%,rgba(51, 147, 76,0.9) 100%);
    border-color: #e7e7e7;
}


/* Interface UL LI */
@media (min-width:768px){
.interface {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
/*  *vertical-align: auto;
  *zoom: 1;
  *display: inline; */
  margin-right: 2em;
}
.interface li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;

/*   background: whitesmoke;
   border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; 
  border-left: 1px solid #dadada;    
border-right: 1px solid #dadada; 
 background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1 100%);
background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1 100%);
background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1 100%); 
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset;*/
}
.interface li:first-child {
  padding-left: 0;
}
.interface li:last-child {
  padding-right: 0;
}
.interface li.last {
  padding-right: 0;
}
.interface li:hover:before{
  position:absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
/*  border-bottom: 1px solid #818181;
  border-top: 1px solid #818181;
  border-left: 1px solid #818181;*/
  content:'';
  border: 1px solid #818181;
/*outline: 1px inset #818181;*/
/*z-index:777;*/

/*    -webkit-box-shadow:inset 0px 0px 0px 1px #818181;
    -moz-box-shadow:inset 0px 0px 0px 1px #818181;
    box-shadow:inset 0px 0px 0px 1px #818181; */



}
.interface li:hover + li {
/*  border-left: 1px solid #818181; */
}
.interface a {
  color: #686868;
  padding: 2px 12px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0 4px;
  text-shadow: white, 0, 1px, 0;
}
.interface span {
  display: inline-block;
  vertical-align: middle;
/*  *vertical-align: auto;
  *zoom: 1;
  *display: inline; */
  padding: 2px 8px;
}
.interface .first {
  border-right: 0;
/*  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px; */
}
.interface .last {
/*  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;*/
  border-right: 1px solid transparent;
}
.interface .last:hover {
/*  border-right: 1px solid #818181; */
}
/* END INTERFACE UL LI */

}

/*.navbar {    border: none !important }*/


/*.bg-gray-lighter {
    background: #f5f5f5 !important;
    fill: #f5f5f5 !important;
} */

.bg-gray-lighter {
    background: #f1f1f1 !important;
    fill: #f1f1f1 !important;
} 










/* .logotext { 
  color:#000; 
  font-weight:500; 
padding-top:60px;
  padding-top:33px;  
  margin-left:50px;
  font-family: 'Exo 2 Expanded'; 
  font-size: 20px;
  letter-spacing: 2.5px;
padding-bottom: 4px;
margin-left:-35px !important;
}
 */



.navbar-panel-inner {   height:95px; }


@media (min-width: 3000px) { 

/* .col-big-6 {    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 50%;} 
    section .row .main-text {       padding: 200px 45px 0 !important;   padding: 20rem 4.5rem 0 !important;}


.right-aside {
    padding: 200px 35px 0 15px !important;
    padding: 20rem 3.5rem 0 2.5rem !important;
}
*/

}


/*delete*/



/* .navbar-nav {font-family: 'Exo 2', sans-serif; font-size:16px;} */
/*size*/
.navbar-nav {
    font-family: 'Myriadsetprothin',"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 18px;
    font-weight: 900 !important;
}







aside { 
display: block;
vertical-align: baseline;

 }
 












@media (max-width:767px) {
#index section.main {
margin-top: 25px !important;
}                         }



#index section.main {
margin-top: 46px;
}

section.main {
margin-top: 80px;
}

/*     width: 75%;
       padding: 50px 30px 0 !important;
    padding: 5rem 3.5rem 0 !important;
     } */ 




@media (max-width:1115px) {
}







.siteblock {     font-family: 'Myriadsetpro',"Helvetica Neue","Helvetica","Arial",sans-serif;  }



img + p {
    margin-top: 0 !important;
}












h2 {    margin-top: 50px;}


/* map yandex */
.page-footer { margin-top:0;     
box-shadow: 0 5px 5px #ccc;
-moz-box-shadow: 0 5px 5px #ccc;
-webkit-box-shadow: 0 5px 5px #ccc;}


/* .foot1 p:not(:first-child) {text-indent:15px;}

font-family: 'Cambria' !important; 
 */




/*udalit posle delete */

/* aside p {
     font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight:300;
    letter-spacing: 0 !important;
}

section p {
   font-family: 'Roboto', sans-serif !important;
    font-weight:300;

} */
/* 
aside p {
     font-family: 'Myriadprocond', Helvetica, arial,sans-serif;
    font-size: 17px !important;
    font-weight:100;
    letter-spacing: 0 !important;
}

section.main p, section.advantages p {
   font-family: 'Myriadprocond', Helvetica, arial,sans-serif !important;
    font-weight:100;
    font-size: 19px;

}


/* 
aside p {
     font-family: "Helvetica Neue", Helvetica, arial,sans-serif;
    font-size: 15px !important;
    font-weight:300;
    letter-spacing: 0 !important;
}

section.main p, section.advantages p {
   font-family: "Helvetica Neue", Helvetica, arial,sans-serif !important;
    font-weight:300;
    font-size: 17px;

} */






/* 
aside p {
     font-family: 'Arsenal', Helvetica, arial,sans-serif;
    font-size: 16px !important;
    font-weight:400;
    letter-spacing: 0 !important;
}

section.main p, section.advantages p {
   font-family: 'Arsenal', Helvetica, arial,sans-serif !important;
    font-weight:400;
    font-size: 19px;

}
 */

h1,h2 {font-weight:700;}
/* 

0) Roboto 300
1)"Helvetica Neue", Helvetica, arial,sans-serif;
2) Myriadcondpro
3) Myriadsetpro
4) Arsenal
 */

/* footer .col-md-2 p:last-child {line-height:1.1;}
 */
@media (max-width:1200px) {
.foot1 p:first-child, .my {
     font-size: 14px;
}
footer p {
     line-height:1.1;
     }



.navbar-collapse {
  
    right:6px !important;
}
}



@media (max-width:767px) { 

#topmen .navbar-nav>li>a {
 color:#fff; 
/*opacity:.9;*/
text-transform: uppercase;
   
}

#topmen .navbar-nav>.active>a, #topmen .navbar-nav>.active>a:hover, #topmen .navbar-nav>.active>a:focus {
    color: #555;
}


.navbar-default .navbar-collapse {
    border-color: #33934c;
}

#topmen { left: 0 !important; top:35px; 
-webkit-border-radius:3px;  
   -moz-border-radius:3px;  
        border-radius:3px;
-webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
   -moz-border-radius-bottomright: 4px;
        border-bottom-right-radius: 4px;

/* background: linear-gradient(to bottom, rgb(223, 239, 206) 0%,rgba(51, 147, 76,0.9) 100%); */
    background: rgb(85, 165, 104);
position:relative;
padding-left:15px;
padding-right:15px;
}
.navbar-nav {     margin-left: 37% !important;}
}

@media (max-width:991px) {


.navbar-nav { 
font-size:13px !important; }
  .box3,.box4 {margin-top:40px;}





  h5 {    margin-top: 85px;}

}


@media (max-width:1050px) { 
.phone { font-size:32px !important; } 
.rightblock {margin-right:-10px;} 
}


@media (max-width:900px) and (min-width:784px) {
  .navbar-nav {font-size:15px;}

}

@media (max-width:783px) and (min-width:768px) {
  .navbar-nav {font-size:14px;}
}


@media (max-width:768px) {
}





.navbar-collapse {overflow:hidden !important;
margin-left:auto;
margin-right:auto;
}


.navbar-toggle {
/*  margin-top: -2px !important;*/
  padding: 0;
  border: 0 solid transparent;
  opacity:0.95;
  position:absolute; 
  right:5px; top:-6px;
}

.navbar-toggle span { display:block; color:#fff; font-size:7px; margin-top:1px;}


 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: initial !important;

}
 
.navbar-default .navbar-toggle:hover  > span {   color: #eae9e9 !important; }
.navbar-default .navbar-toggle:hover  > img {   opacity:0.85; }
/* 
@media (min-width:1500px) {
  .blocktitle { font-size:20px !important; }
}
@media (min-width:1340px)and (max-width:1500px) {
  .blocktitle { font-size:20px !important; }
}
@media (min-width:1232px) and (max-width:1339px){
 .blocktitle { font-size:18px !important; } 
  }
  @media (min-width:1148px) and (max-width:1231px) {
 .blocktitle { font-size:16px !important; } 
  }
  @media (max-width:1148px) and (min-width:992px) {
.blocktitle { font-size:14px !important; } 

  } */


@media (max-width:767px) {
  .skew-menu ul li { float:none !important;}
}

/* .navbar-collapse.in > .full-width  { margin-top: 220px !important; } */


/*vremenno */


@media (min-width:1200px) {
.forlogo { width:165px }
}
/* .logo-akademia {
  z-index:50;
width:170px; 
  height:195px;
  width:165px; 
  height:185px; 
width:100%; 
height:100%;
  
background-position: top right;
position: relative;
  margin-left: 0px;
  top: 0;
box-shadow: 0 0 5px #000 inset, 0 0 5px #000;
  transition: background 1s ease;

}
 */

/* 
.logo-akademia {
  background: url(/images/logo150.png) 60% 60% no-repeat;
  background-size: cover;
  z-index:50;
width:170px; 
 height:195px;
 width:165px; 
 height:185px; 
  width:150px; 
  height:174px;
  
  background-position: top right;
  position: relative;
  margin-left: 30px;
    top: 0;
box-shadow: 0 0 5px #000 inset, 0 0 5px #000;  transition: background 1s ease;

} 
 */





@media (max-width:991px) {

.style5 .advpr, .style5 .advpr2 {
font-size:16px}
}


div.affix-top {
    margin-left: -12%;
    margin-right: -12%;
}

.navbar-collapse {
    right: 0 !important;
    position: absolute;
}

.navbar-collapse {
    right: 50px;
    position: absolute;
}








    


#contact .cont p {
/*   font-family: 'Arsenal', sans-serif;
    font-weight:300; */
    font-size: 18px;
   line-height:1.5;

} 

.cont a:hover {color:#3f3f3f !important;}

.site-contact h1 {
font-size:35px !important;

}





#view .panel-title {color:#efefef;}

.gallery-view .panel-title {color:darkgreen !important}


#view a:hover, #view a:focus { color:#cae1bf }
#view h4 {
    font-size: 25px !important;
}

#view .panel-heading {
    padding: 5px 15px !important; }


.gallery-view .panel-default > .panel-heading {
    background: rgba(253, 253, 253, 0.74) !important;
}

.panel-title > a {
   color: darkgreen !important;
}



@media (min-width:768px) {
} 

@media (max-width:768px) {
}


.modal-header .close {
/*      transform-origin: 50% 60%;*/
    -webkit-transform-style: preserve-3D;
       -moz-transform-style: preserve-3D;
            transform-style: preserve-3D;
  font-size: 40px; 
  -webkit-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
    -moz-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
    -o-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
    transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
}


.modal-header .close:hover {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(90deg);
    -moz-transform: scale(1.2) rotate(90deg);
    -ms-transform: scale(1.2) rotate(90deg);
     -o-transform: scale(1.2) rotate(90deg);
        transform: scale(1.2) rotate(90deg);
   /* border-radius: 50%;
    border-color: rgba(255,255,255,0.3);*/
    color:#36593c;
}




.td {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

#samohodnayatehnika td { text-align:center}

/*.modal-backdrop.in { opacity: 1 !important }*/





/* Font size */
h1,h2,h6 {
    color: #232323 !important;
    font-family: 'Myriadsetpro', sans-serif;
    font-size: -webkit-calc(20px - -0.9vw);
    font-size: -moz-calc(20px - -0.9vw);
    font-size: calc(20px - -0.9vw);
}


h5,h4 {
    font-family: "Myriadsetpro","Helvetica Neue","Helvetica","Arial",sans-serif;
    color:#343434;
    line-height:1 !important;
}

h4,h5, .poryadok {
    font-size: -webkit-calc(20px - -0.9vw) !important;
    font-size: -moz-calc(20px - -0.9vw) !important;
    font-size: calc(20px - -0.9vw) !important;
}



#contact h4 {
    font-size: -webkit-calc(18px - -0.9vw) !important;
    font-size: -moz-calc(18px - -0.9vw) !important;
    font-size: calc(18px - -0.9vw) !important;
}


h5 {margin-top:25px;}
h4 + p, h5 + p { margin-top:0 !important; }
.exam h5 {font-size:19px !important}

#aboutus h4.panel-title {
font-size: -webkit-calc(15px - -0.8vw) !important;
font-size: -moz-calc(15px - -0.8vw) !important;
font-size: calc(15px - -0.8vw) !important;
text-align:justify;
}


@media (max-width:767px) {
.style5 .advpr, .style5 .advpr2 {
    font-size: 19px}

 .site-distance {
    margin-bottom: 0 !important;
}

}
@media (max-width:360px) {

.site-distance.siteblock {
    width: 90% !important;
}

#aboutus h4.panel-title {
text-align:center;
}

}


.post-bodycopy{ font-size: -webkit-calc(13px - -0.3vw); font-size: -moz-calc(13px - -0.3vw); font-size: calc(13px - -0.3vw)}

.texts {font-size: -webkit-calc(12px - -0.4vw);font-size: -moz-calc(12px - -0.4vw);font-size: calc(12px - -0.4vw);   margin-top:10px;}

@media (max-width:1199px) {
.exam h5 {font-size: 18px !important;}
}
@media (max-width:550px) {

.texts {margin-left:30px;}
.exam h5 {font-size: 17px !important;}
.style5.exam span { margin-left:-30px;}
}


@media (max-width:500px) {
#automotoschool .col-xs-3 {width:30% }
#automotoschool .col-xs-9 {width:70% }
}
/*@media (max-width:510px) {
.style5 .advpr, .style5 .advpr2 {
    margin-left: 22px !important;
}
} */
@media (max-width:370px) {
#automotoschool .col-xs-3 {width:35% }
#automotoschool .col-xs-9 {width:65% }
.inside1.advpr, .inside1.advpr2 {
    margin-left: 0px;
}

}

@media (max-width:400px) {


.exam h5 {font-size: 15px !important; margin-left:-3px}
.style5.exam span { margin-left:-10px;}
}

.advpr, .advpr2 {
    margin-left: 15px;
font-size:16px !important;
}


.site-automotoschool p, .preimul, .preimul2 {
    font-family: 'Myriadsetpro', sans-serif !important;
    font-size: -webkit-calc(12px - -0.35vw);
    font-size: -moz-calc(12px - -0.35vw);
    font-size: calc(12px - -0.35vw);
}


new.x1 {
    line-height: 1.42857143;
}

.post img {
    padding: 5px;
    border: solid 1px #dddddd;
    background-color: #f3f3f3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}



/* custom 1*/
/* @import "http://webfonts.ru/import/cleanvertising.css";
@import "http://webfonts.ru/import/carlito.css";
@import "http://webfonts.ru/import/exotwocondensed.css";
@import "http://webfonts.ru/import/monitorica.css";
@import "http://webfonts.ru/import/cuprum.css";

@import "http://webfonts.ru/import/exotwoexpanded.css";
 */




/* @font-face {font-family: "Cambria";
    src: url("//db.onlinewebfonts.com/t/e5c33a72d53f91d31b2894a034db1780.eot");
    src: url("//db.onlinewebfonts.com/t/e5c33a72d53f91d31b2894a034db1780.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e5c33a72d53f91d31b2894a034db1780.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/e5c33a72d53f91d31b2894a034db1780.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/e5c33a72d53f91d31b2894a034db1780.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/e5c33a72d53f91d31b2894a034db1780.svg#Cambria") format("svg");
}
 */

/*
 @font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/roboto/font-family_roboto_300.eot");
    src: local('Roboto Light'), local('Roboto-Light'), url("../fonts/roboto/font-family_roboto_300.eot#iefix") format('embedded-opentype'), url("../fonts/roboto/font-family_roboto_300.woff") format('woff'), url("../fonts/roboto/font-family_roboto_300.ttf") format('truetype')
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/roboto/font-family_roboto_400.eot");
    src: local('Roboto Regular'), local('Roboto-Regular'), url("../fonts/roboto/font-family_roboto_400.eot#iefix") format('embedded-opentype'), url("../fonts/roboto/font-family_roboto_400.woff") format('woff'), url("../fonts/roboto/font-family_roboto_400.ttf") format('truetype')
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/roboto/font-family_roboto_700.eot");
    src: local('Roboto Bold'), local('Roboto-Bold'), url("../fonts/roboto/font-family_roboto_700.eot#iefix") format('embedded-opentype'), url("../fonts/roboto/font-family_roboto_700.woff") format('woff'), url("../fonts/roboto/font-family_roboto_700.ttf") format('truetype')
} 


*/
/*  @font-face {
   font-family: 'Roboto Slab';
   font-weight: 300;
   font-style: normal;
   src: url("http://afisha.mail.ru/-/76cb2918/bem-toolkit/blocks-desktop/font-family/_robotoslab/font-family_robotoslab_300.eot");
   src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url("http://afisha.mail.ru/-/76cb2918/bem-toolkit/blocks-desktop/font-family/_robotoslab/font-family_robotoslab_300.eot#iefix") format('embedded-opentype'), url("http://afisha.mail.ru/-/8d0d67b8/bem-toolkit/blocks-desktop/font-family/_robotoslab/font-family_robotoslab_300.woff") format('woff'), url("http://afisha.mail.ru/-/79754934/bem-toolkit/blocks-desktop/font-family/_robotoslab/font-family_robotoslab_300.ttf") format('truetype')
}
@font-face {
   font-family: 'Roboto Condensed';
   font-weight: 700;
   font-style: normal;
   src: url("http://afisha.mail.ru/-/8f8e9329/bem-toolkit/blocks-desktop/font-family/_robotocondensed/font-family_robotocondensed_700.eot");
   src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("http://afisha.mail.ru/-/8f8e9329/bem-toolkit/blocks-desktop/font-family/_robotocondensed/font-family_robotocondensed_700.eot#iefix") format('embedded-opentype'), url("http://afisha.mail.ru/-/4fd9f3df/bem-toolkit/blocks-desktop/font-family/_robotocondensed/font-family_robotocondensed_700.woff") format('woff'), url("http://afisha.mail.ru/-/4b8b4b37/bem-toolkit/blocks-desktop/font-family/_robotocondensed/font-family_robotocondensed_700.ttf") format('truetype')
} */

.animated1 {
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
       animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
 -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;

}
.animated2 {
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
       animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;

 -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

.animated3 {
   -webkit-animation-delay: .4s;
   -moz-animation-delay: .4s;
   -o-animation-delay: .4s;
   animation-delay: .4s;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
       animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
}

.animated4 {
   -webkit-animation-delay: .7s;
   -moz-animation-delay: .7s;
   -o-animation-delay: .7s;
   animation-delay: .7s;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
       animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
}

.animated5 {
   -webkit-animation-delay: .9s;
   -moz-animation-delay: .9s;
   -o-animation-delay: .9s;
   animation-delay: .9s;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
       animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
       animation-fill-mode: both;
}




/* NEW FONTS + NEW ANIMATION */

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-moz-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    -moz-transform: translate3d(100%, 0, 0) skewX(-30deg);
         transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
         transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
         transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    -moz-transform: none;
         transform: none;
    opacity: 1;
  }
}

@-o-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    -o-transform: skewX(20deg);
       transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
       transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    -o-transform: none;
       transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    -moz-transform: translate3d(100%, 0, 0) skewX(-30deg);
         transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
      -o-transform: skewX(20deg);
         transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
      -o-transform: skewX(-5deg);
         transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    -moz-transform: none;
      -o-transform: none;
         transform: none;
    opacity: 1;
  }
}



/* body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
} */


@media (min-width:768px) {
.skew-menu {
  text-align: center;
/*   margin-top: 9em; */
}
.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: skew(-25deg);
     -moz-transform: skew(-25deg);
      -ms-transform: skew(-25deg);
       -o-transform: skew(-25deg);
          transform: skew(-25deg);
}


.skew-menu ul li {
/*  background: #ececec;*/
/* good 1 background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  text-transform: uppercase;


  border-right: 1px solid #eee;
*/

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%);
background: -webkit-gradient(linear,  left top, left bottom,  from(rgba(255,255,255,1)),to(rgba(255,255,255,0.4)));
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );


  float: left;

     -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

             box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

/*  color: #123611; */
  color: #514d4d;
  font-weight: bolder;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.skew-menu ul li:first-child {
  -webkit-border-radius: 7px 0 0 7px;
     -moz-border-radius: 7px 0 0 7px;
          border-radius: 7px 0 0 7px;
}
.skew-menu ul li:last-child {
  border-right: none;
  -webkit-border-radius: 0 7px 7px 0;
     -moz-border-radius: 0 7px 7px 0;
          border-radius: 0 7px 7px 0;
}
.skew-menu ul li:hover {
  background: #f9f9f9;
}


/* 
.first:hover ~ ..navbar-nav li:last-child
 {
filter: grayscale(1%) blur(1px);
-webkit-filter: grayscale(1%) blur(1px);
}
 */
.skew-menu ul li a {
  display: block;
 /* padding: 1em 2em;*/
  padding: 0 2em 0.8em 2em;
  color: inherit;
  text-decoration: none;
  -webkit-transform: skew(25deg);
     -moz-transform: skew(25deg);
      -ms-transform: skew(25deg);
       -o-transform: skew(25deg);
          transform: skew(25deg);
}



.interface .first:hover:before {
  -moz-border-radius: 6px 0 0 6px !important;
  -webkit-border-radius: 6px !important;
  border-radius: 6px 0 0 6px !important; 
}
.interface .last:hover:before {
  -moz-border-radius: 0 6px 6px 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 6px 6px 0 !important;

}
 





 .navbar-default .navbar-nav li:first-child
  {  display: inline-block;
    max-width:146px; }

 .navbar-nav li:nth-child(2)
  {  display: inline-block;
    max-width:281px; }

    .navbar-nav li:nth-child(3)
  {  display: inline-block;
    max-width:148px; }
     .navbar-default .navbar-nav li:last-child
  {  display: inline-block;
    max-width:160px; }
}



@media (min-width:768px){
.navbar-nav li { opacity:0 }
}




/*BLOCK TITLES */


/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
  -webkit-transform: perspective(1px) translateZ(0) skew(0);
  transform: perspective(1px) translateZ(0) skew(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  }
}
@-moz-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
         transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
         transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    -moz-transform: skew(-6deg);
         transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    -moz-transform: skew(4deg);
         transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    -moz-transform: skew(-2deg);
         transform: skew(-2deg);
  }
  100% {

  -webkit-transform: perspective(1px) translateZ(0) skew(0);
  -moz-transform: perspective(1px) translateZ(0) skew(0);
       transform: perspective(1px) translateZ(0) skew(0);
  -moz-box-shadow: 0 0 1px transparent;
       box-shadow: 0 0 1px transparent;

  }
}
@-o-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    -o-transform: skew(-12deg);
       transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    -o-transform: skew(10deg);
       transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    -o-transform: skew(-6deg);
       transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    -o-transform: skew(4deg);
       transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    -o-transform: skew(-2deg);
       transform: skew(-2deg);
  }
  100% {

  -webkit-transform: perspective(1px) translateZ(0) skew(0);
  transform: perspective(1px) translateZ(0) skew(0);
  box-shadow: 0 0 1px transparent;

  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    -moz-transform: skew(-12deg);
      -o-transform: skew(-12deg);
         transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
      -o-transform: skew(10deg);
         transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    -moz-transform: skew(-6deg);
      -o-transform: skew(-6deg);
         transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    -moz-transform: skew(4deg);
      -o-transform: skew(4deg);
         transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    -moz-transform: skew(-2deg);
      -o-transform: skew(-2deg);
         transform: skew(-2deg);
  }
  100% {

  -webkit-transform: perspective(1px) translateZ(0) skew(0);
  -moz-transform: perspective(1px) translateZ(0) skew(0);
       transform: perspective(1px) translateZ(0) skew(0);
  -webkit-box-shadow: 0 0 1px transparent;
     -moz-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;

  }
}
/*.hvr-wobble-skew {

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.cl-effect-12:hover .hvr-wobble-skew, .cl-effect-12:focus .hvr-wobble-skew, .cl-effect-12:active .hvr-wobble-skew{
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
 
 animation-delay:.2s;
 -webkit-animation-delay:.2s;
}
  */
/* Float */


/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    opacity:1;
  }
}
@-moz-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
         transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
         transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
         transform: translateY(-3px);
    opacity:1;
  }
}
@-o-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
       transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
       transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
       transform: translateY(-3px);
    opacity:1;
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
      -o-transform: translateY(-3px);
         transform: translateY(-3px);
  }
  50% {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
      -o-transform: translateY(1px);
         transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
      -o-transform: translateY(-3px);
         transform: translateY(-3px);
    opacity:1;
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    opacity:1;
  }
}
@-moz-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
         transform: translateY(-3px);
    opacity:1;
  }
}
@-o-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
       transform: translateY(-3px);
    opacity:1;
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
      -o-transform: translateY(-3px);
         transform: translateY(-3px);
    opacity:1;
  }
}






@-webkit-keyframes hvr-bob2 {
  0% {
    -webkit-transform: translateY(-3px) skew(17deg);
    transform: translateY(-3px) skew(17deg);
  }
  50% {
    -webkit-transform: translateY(1px) skew(17deg);
    transform: translateY(1px) skew(17deg);
  }
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@-moz-keyframes hvr-bob2 {
  0% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -moz-transform: translateY(-3px) skew(17deg);
         transform: translateY(-3px) skew(17deg);
  }
  50% {
    -webkit-transform: translateY(1px) skew(17deg);
    -moz-transform: translateY(1px) skew(17deg);
         transform: translateY(1px) skew(17deg);
  }
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -moz-transform: translateY(-3px) skew(17deg);
         transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@-o-keyframes hvr-bob2 {
  0% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -o-transform: translateY(-3px) skew(17deg);
       transform: translateY(-3px) skew(17deg);
  }
  50% {
    -webkit-transform: translateY(1px) skew(17deg);
    -o-transform: translateY(1px) skew(17deg);
       transform: translateY(1px) skew(17deg);
  }
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -o-transform: translateY(-3px) skew(17deg);
       transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@keyframes hvr-bob2 {
  0% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -moz-transform: translateY(-3px) skew(17deg);
      -o-transform: translateY(-3px) skew(17deg);
         transform: translateY(-3px) skew(17deg);
  }
  50% {
    -webkit-transform: translateY(1px) skew(17deg);
    -moz-transform: translateY(1px) skew(17deg);
      -o-transform: translateY(1px) skew(17deg);
         transform: translateY(1px) skew(17deg);
  }
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -moz-transform: translateY(-3px) skew(17deg);
      -o-transform: translateY(-3px) skew(17deg);
         transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@-webkit-keyframes hvr-bob-float2 {
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@-moz-keyframes hvr-bob-float2 {
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -moz-transform: translateY(-3px) skew(17deg);
         transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@-o-keyframes hvr-bob-float2 {
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -o-transform: translateY(-3px) skew(17deg);
       transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}
@keyframes hvr-bob-float2 {
  100% {
    -webkit-transform: translateY(-3px) skew(17deg);
    -moz-transform: translateY(-3px) skew(17deg);
      -o-transform: translateY(-3px) skew(17deg);
         transform: translateY(-3px) skew(17deg);
    opacity:1;
  }
}


#index .block-mestoONLY:hover .hvr-bob,#index  .block-mestoONLY:focus .hvr-bob,#index  .block-mestoONLY:active .hvr-bob{
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  -moz-animation-name: hvr-bob-float, hvr-bob;
    -o-animation-name: hvr-bob-float, hvr-bob;
       animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  -moz-animation-duration: .3s, 1.5s;
    -o-animation-duration: .3s, 1.5s;
       animation-duration: .3s, 1.5s;        


  -webkit-animation-delay:  .1s, .4s;
  -moz-animation-delay:  .1s, .4s;
    -o-animation-delay:  .1s, .4s;
       animation-delay:  .1s, .4s;

/*  -webkit-animation-delay: .2s, 2.2s, 2.4s;
  animation-delay: .2s, 2.2s, 2.4s;*/
  -webkit-animation-timing-function:  ease-out, ease-in-out;
  -moz-animation-timing-function: ease-out, ease-in-out;
    -o-animation-timing-function: ease-out, ease-in-out;
       animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  -moz-animation-iteration-count: 1, infinite;
    -o-animation-iteration-count: 1, infinite;
       animation-iteration-count: 1, infinite;

  -webkit-animation-direction:  normal, alternate;
  -moz-animation-direction: normal, alternate;
    -o-animation-direction: normal, alternate;
       animation-direction: normal, alternate;
}




/*#index .box1 .block-mestoONLY:hover .hvr-bob,#index  .box1  .block-mestoONLY:focus .hvr-bob,#index  .box1  .block-mestoONLY:active .hvr-bob
{
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;        


  -webkit-animation-delay:  .2s, .4s;
  animation-delay:  .2s, .4s;

/*  -webkit-animation-delay: .2s, 2.2s, 2.4s;
  animation-delay: .2s, 2.2s, 2.4s;*/
/*  -webkit-animation-timing-function:  ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;

  -webkit-animation-direction:  normal, alternate;
  animation-direction: normal, alternate;
}
*/



  @-webkit-keyframes hvr-grew {
  100% {   
-webkit-transform: perspective(1px) translateZ(0) scale(1.1);
  transform: perspective(1px) translateZ(0)  scale(1.1);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
 }
}

  @-moz-keyframes hvr-grew {
100% {  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
       transform: scale(1.2);
  -moz-box-shadow: 0 0 1px transparent;
       box-shadow: 0 0 1px transparent;}


}

  @-o-keyframes hvr-grew {
100% {  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
     transform: scale(1.2);
  box-shadow: 0 0 1px transparent;}


}

  @keyframes hvr-grew {
100% {  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
       transform: scale(1.2);
  -webkit-box-shadow: 0 0 1px transparent;
     -moz-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;}


}








/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
         transform: scale(1.2);
  }
}
@-o-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
       transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
         transform: scale(1.2);
  }
}

 



h5,h4 { color: #0c500c  !important; }




@media (min-width:410px) {
.breadcrumb {font-size:12px !important; }

}

.breadcrumb {
    margin-bottom: 0px;

    margin-top: 45px !important;
    margin-left: 0px !important;
    position: relative;
    background-color: rgba(190, 231, 173, 0) !important;
    z-index: 90
}


.breadcrumb>li+li:before {
    content: "\0a0\203A\203A\0a0" !important;
    padding: -3px !important;
    color: #000 !important;
    top:-1px;
    position:relative;
}

/*.breadcrumb {margin-top:60px !important; margin-left:86px !important;
background-color:transparent}*/

.breadcrumb li a:first-child {
    font-weight: 600;
}
               

@media (max-width:767px) { 
  .breadcrumb {margin-top: 26px !important; }

}
