.navshadow { box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.07); } 

 .phone {
      color:#1a2a0f;
    font-family: 'Myriadprocond';
    font-size: 37px;
    font-weight: 900;

}


p.logotextbottom {
    /* margin-top: -17px; */
    margin-left: 28px; 
    /* font-style: italic; */
   font-size:11px;
    /* position: fixed; 
	font-family: 'Exo 2';*/
}


div.affix-top {
    margin-left: 0;
    margin-right: 0;
}

.header-top {height:100px}

img.logotop {  
    margin-top: 30px;
    margin-left: 11px;
    opacity: 0.9;
}


.rightblock {
    /* margin-right: -120px !important; */
    right: -26px !important;
    padding-top:10px;
}






#w1 {
    font-family: 'Myriadsetpro';
    font-size: 16px;
    font-weight: 500;
}





.navbar { border-radius: 3px;   
min-height: 37px ; 
height: 37px }



.right-aside {margin-top:-5px !important;}


.navbar-default .navbar-nav>li>a {    color: #1b1a1a  }
.navbar-default .navbar-nav>li a:hover, .navbar-default .navbar-nav > li a:focus {    color: #123611 !important; 


/*    background-color: #f1f1f1;
#e7e7e7;*/

}





.affix .logo46 {
  background: url(/images/logo46.png) 100% 100% no-repeat;
  background-size: contain;
  z-index:50;
  height:46px;
  top:0;
  left:50px;
  width:39px;
  position:absolute;
/*   width:170px; 
 
 width:165px; 
 height:185px; */ 
  
/* box-shadow: 0 0 5px #000 inset, 0 0 5px #000;  transition: background 1s ease; */
} 





.logo-akademia {
  background: url(/images/logo150.png) no-repeat;
  background-size: contain;
  z-index:50;
/*   width:170px; 
 height:195px;
 width:165px; 
 height:185px; */ 
  width:110px; 
  height:132px;
  
  background-position: top right;
  position: absolute;
  top: 0;
  left:6px;
/*   left:35px; box-shadow: 0 0 5px #000 inset, 0 0 5px #000;  transition: background 1s ease; */

} 



.navbar-nav>li>a { padding-top:9px !important; 
   line-height: 14px;
}


/* menu5 */

/*** for menu5 */

span.icos {
    position: absolute;
    left: 5px;
    top: 3px;
    transform: skew(25deg);
    opacity: 0.7;
}

span.icos{
 display:none;
top:4px
}

.skew-menu ul li:hover span.icos{ display:inherit; 
}


ul li:nth-child(1) span.icos {
    transform: scale(1.1) skew(25deg);
top:5px;
}

ul li:nth-child(2) span.icos {
    left: 3px;
   top:6px;
}

ul li:nth-child(3) span.icos{
    left: 4px;
    transform: scale(0.9) skew(25deg);
   top:6px;
}


ul li:nth-child(4) span.icos {
    transform: scale(1.05) skew(25deg);
   top:6px;
}


